# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*

# Database-related files
*.db
*.sqlite
*.mongo
dump/

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.swp
*.bak
*.pid

# Editor-specific files
.idea/
.vscode/
*.sublime-workspace

# Dependency directories
bower_components/
jspm_packages/

# Testing
coverage/

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore Docker
docker-compose.override.yml
.dockerignore

# Ignore PM2 logs and configs
pm2_logs/
*.pm2/
